[submodule "Hephaestus"]
	path = Hephaestus
	url = ./Hephaestus

[submodule "Codex"]
	path = Codex
	url = https://github.com/ckoons/Codex.git

[submodule "Engram"]
	path = Engram
	url = https://github.com/ckoons/Engram.git

[submodule "Ergon"]
	path = Ergon
	url = https://github.com/ckoons/Ergon.git

[submodule "Rhetor"]
	path = Rhetor
	url = https://github.com/ckoons/Rhetor.git

[submodule "Sophia"]
	path = Sophia
	url = https://github.com/ckoons/Sophia.git

[submodule "Telos"]
	path = Telos
	url = https://github.com/ckoons/Telos.git

[submodule "Prometheus"]
	path = Prometheus
	url = https://github.com/ckoons/Prometheus.git

[submodule "Synthesis"]
	path = Synthesis
	url = https://github.com/ckoons/Synthesis.git

[submodule "Athena"]
	path = Athena
	url = https://github.com/ckoons/Athena.git

[submodule "Harmonia"]
	path = Harmonia
	url = https://github.com/ckoons/Harmonia.git

[submodule "Hermes"]
	path = Hermes
	url = https://github.com/ckoons/Hermes.git
